body{
    margin: 0;
}
#messi{
    font-size: 50px;
    color: rgb(64, 64, 231);
}
.two-page{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 52%;
    padding-left: 25%;
}
.link-sm{
    text-decoration: none;
    background-image: linear-gradient(red, blue);
    padding: 10px 40px;
    border-radius: 5%;
    font-weight: 700;
    color: white;
}
.first-page{
    background-image: url(/image/E2lQUl_WQAEOVuA.jpg);
    background-repeat: no-repeat;
}
.second-page{
    background-image: url(/image/abstract-luxury-plain-blur-grey-black-gradient-used-as-background-studio-wall-display-your-products_1258-63641.webp);
    background-repeat: no-repeat;
}
.team-b{
    color: rgb(233, 79, 79);
}
.teams{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
    border-left: blue solid 5px;
    border-radius: 10px;
}
#career{
    font-size: 45px;
    color: rgb(236, 77, 77);
}
#fc-barcelona{
    border-left: 5px red solid;
}
footer p{
    text-align: center;
}